In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2020-01-04 22:29:04,-53.16,-70.91,53.60,54,75,13.87
1,1,Port Elizabeth,US,2020-01-04 22:29:04,39.31,-74.98,57.00,100,90,3.36
2,2,Krabi,TH,2020-01-04 22:29:04,8.06,98.92,75.20,100,20,5.82
3,3,Barrow,AR,2020-01-04 22:29:05,-38.31,-60.23,77.27,55,75,18.05
4,4,Ankazoabo,MG,2020-01-04 22:29:05,-22.29,44.51,75.22,69,14,2.89

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)


# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 60

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2020-01-04 22:29:04,-53.16,-70.91,53.60,54,75,13.87
1,1,Port Elizabeth,US,2020-01-04 22:29:04,39.31,-74.98,57.00,100,90,3.36
5,5,Hokitika,NZ,2020-01-04 22:29:05,-42.72,170.96,57.04,65,99,9.84
8,8,Mataura,NZ,2020-01-04 22:29:06,-46.19,168.86,55.99,76,98,27.00
14,14,Vaini,IN,2020-01-04 22:29:07,15.34,74.49,59.25,75,0,1.34
18,18,Fortuna,US,2020-01-04 22:29:08,40.60,-124.16,55.99,71,40,10.29
41,41,Ushuaia,AR,2020-01-04 22:27:50,-54.81,-68.31,57.20,41,40,8.05
46,46,Margate,AU,2020-01-04 22:29:13,-43.03,147.26,59.00,41,75,10.29
48,48,New Norfolk,AU,2020-01-04 22:25:55,-42.78,147.06,59.00,41,75,10.29
66,66,Busselton,AU,2020-01-04 22:29:17,-33.64,115.35,52.00,76,0,1.01

In [12]:
preferred_cities_df.count()

City_ID       64
City          64
Country       64
Date          64
Lat           64
Lng           64
Max Temp      64
Humidity      64
Cloudiness    64
Wind Speed    64
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

               City Country  Max Temp    Lat     Lng Hotel Name
0      Punta Arenas      CL     53.60 -53.16  -70.91
1    Port Elizabeth      US     57.00  39.31  -74.98
5          Hokitika      NZ     57.04 -42.72  170.96
8           Mataura      NZ     55.99 -46.19  168.86
14            Vaini      IN     59.25  15.34   74.49
..              ...     ...       ...    ...     ...        ...
495      Clarksburg      US     53.01  39.24  -77.28
496       Myitkyina      MM     54.52  25.38   97.40
505      Winnemucca      US     50.00  40.97 -117.74
524        Shushtar      IR     55.18  32.05   48.86
535       Taoudenni      ML     55.87  22.68   -3.98

[64 rows x 6 columns]

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [15]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [16]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Punta Arenas,CL,53.60,-53.16,-70.91,Hotel Dreams Del Estrecho
1,Port Elizabeth,US,57.00,39.31,-74.98,HAMMER RUN
5,Hokitika,NZ,57.04,-42.72,170.96,Beachfront Hotel Hokitika
8,Mataura,NZ,55.99,-46.19,168.86,Ellie's Villa
14,Vaini,IN,59.25,15.34,74.49,Dandeli Lake County
...,...,...,...,...,...,...
495,Clarksburg,US,53.01,39.24,-77.28,"Extended Stay America Washington, D.C. - Germa..."
496,Myitkyina,MM,54.52,25.38,97.40,Shwe Phyu Hotel
505,Winnemucca,US,50.00,40.97,-117.74,Winners Inn Casino
524,Shushtar,IR,55.18,32.05,48.86,هتل تک ستاره
535,Taoudenni,ML,55.87,22.68,-3.98,

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))